/* Work sans google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common style */
body {
  margin: 0;
}

* {
  font-family: "Work Sans", sans-serif;
}

.banner-button {
  width: 180px;
  border-radius: 0.5rem;
  background: #ff900e;
  padding: 1.5rem 1rem;
  color: wh;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 1rem;
}

/* nav styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 40px 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-title {
  color: var(--Dark-01, #131313);
  font-weight: 700;
  font-size: 2rem;
}

.nav ul {
  display: flex;
  list-style: none;
}

nav li>a {
  color: var(--Dark-02, #424242);
  font-weight: 500;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  width: max-content;
  height: max-content;
}

/* banner styles */
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.banner img {
  width: 100%;
  object-fit: cover;
  margin-top: 2rem;
}

#banner-title {
  color: var(--Dark-01, #131313);
  font-size: 2.5rem;
  font-weight: 700;
}

#banner-text {
  color: var(--Dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Team main styles */

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 0 120px 0 120px;
}

.team-img-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-right: 1rem;
}

.team-content {
  padding-left: 1rem;
}

.team-text {
  font-size: .9rem;
  color: var(--Dark-03, #727272);
  word-spacing: .2rem;
}

.team-img-content img {
  object-fit: cover;
}

#text-1 {
  color: var(--Dark-03, #727272);
  font-weight: 700;
  font-size: 2.5rem;
}

#text-2 {
  color: var(--Dark-01, #131313);
  font-size: 2.5rem;
  font-weight: 700;
}

#text-3 {
  color: #FF900E;
  font-size: 2.5rem;
  font-weight: 700;
}

/* Mobile first approach */
@media screen and (max-width:576px) {
  header {
    padding: 1rem;
  }

  #nav-title {
    width: 100%;
    text-align: center;
  }

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
    padding: 0;
    width: 100%;
    text-align: center;
    border: none;
  }

  nav li {
    margin-right: 0;
    margin-top: 1rem;
  }

  .team-container {
    flex-direction: column;
    padding: 0;
  }

  .team-img-content {
    grid-template-columns: 1fr;
  }

  .team-img-content {
    padding: 0;
  }

  .team-content {
    padding: 2rem;
  }

}

/* Tablet Device */
@media screen and (min-width: 576px) and (max-width:992px) {
  header {
    padding: 1rem;
  }

  .nav,
  .team-container {
    flex-direction: column;
  }

  .nav ul {
    padding: 0;
  }

  .team-content {
    margin-top: 2rem;
  }
}